body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.menu {
    width: 80%;
    margin: 0 auto;
}

.menu-item {
    margin-bottom: 20px;
}

.item-name {
    font-weight: bold;
}

.item-description {
    margin-top: 5px;
}