body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: blue;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
#logo {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
}